---
layout: default
custom_css: sidebar
---
<link rel="stylesheet" href="{{ '/assets/css/sidebar.css?v=4' | relative_url }}">
<div class="container">
    <div class="row">
        <!-- Left Sidebar -->
        <div class="col col-12 col-t-3 sidebar">
            <div class="sidebar-content">
                <div class="sidebar-section">
                    <h3 class="sidebar-title">Projects</h3>
                    <ul class="sidebar-list">
                        <li><a href="/projects/"><i class="icon ion-md-folder"></i> All Projects</a></li>
                        <li><a href="/projects/#ml-projects"><i class="icon ion-md-analytics"></i> Machine Learning</a></li>
                        <li><a href="/projects/#data-projects"><i class="icon ion-md-cloud"></i> Data Engineering</a></li>
                        <li><a href="/projects/#ai-projects"><i class="icon ion-md-flash"></i> AI Applications</a></li>
                    </ul>
                </div>
                <div class="sidebar-section">
                    <h3 class="sidebar-title">Experience</h3>
                    <ul class="sidebar-list">
                        <li><a href="/experience/"><i class="icon ion-md-briefcase"></i> Work History</a></li>
                        <li><a href="/skills/"><i class="icon ion-md-star"></i> Skills & Expertise</a></li>
                        <li><a href="/certifications/"><i class="icon ion-md-ribbon"></i> Certifications</a></li>
                        <li><a href="/education/"><i class="icon ion-md-school"></i> Education</a></li>
                    </ul>
                </div>
                <div class="sidebar-section">
                    <h3 class="sidebar-title">About & Writing</h3>
                    <ul class="sidebar-list">
                        <li><a href="/"><i class="icon ion-md-person"></i> About Me</a></li>
                        <li><a href="/blog/" class="active"><i class="icon ion-md-paper"></i> Blog Posts</a></li>
                        <li><a href="/publications/"><i class="icon ion-md-book"></i> Publications</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <div class="col col-12 col-t-9">
            <div class="row">
                {% for post in paginator.posts %}
                    {% include post-card.html %}
                {% endfor %}
            </div>
            {% include pagination.html %}
        </div>
    </div>
</div>